.chart-screen {
  margin-top: 20px;
  padding-top: 10px;
  background-color: rgba(99, 10, 16, 0.877);
  border-radius: 5px;
  width: 80%;
  height: 100%;
  color: white;
}
.chart-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  list-style: none;
}
.chart-list li {
  padding: 16px 4px;
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  border-top: solid rgb(129, 76, 76) 1.5px;
}
.chart-list li div {
  display: flex;
  align-items: center;
}
.chart-product-data{
  display: flex;
  flex-direction: column;
}
.chart-product-names{
  justify-content: space-around;
  display: flex;
  width: 100%;
  border: none;
}
.chart-product-names li{
  
  border: none;
}
.chart-product-buttonEliminar {
  border: none;
  border-radius: 3px;
  background-color: brown;
  color: white;
  padding: 10px 15px;
  margin-left: 15px;
}
.chart-product-buttonEliminar:hover {
  background-color: rgb(124, 33, 33);
  color: rgb(185, 181, 181);
}
.chart-list li img {
  width: 80px;
  height: 80px;
  padding: 4px;
  margin-right: 10px;
  background-color: white;
  border: solid black 2px;
  border-radius: 5px;
}
.chart-comprarButton {
  background-color: rgb(77, 133, 75);
  border: none;
  border-radius: 3px;
  color: white;
  padding: 10px 15px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.chart-comprarButton:hover {
  background-color: rgb(57, 100, 55);
  color: rgb(201, 195, 195);
}
.chart-comprarBorrar {
  background-color: rgb(155, 87, 70);
  border: none;
  border-radius: 3px;
  color: white;
  padding: 10px 15px;
  margin-bottom: 20px;
}
.chart-comprarBorrar:hover {
  background-color: rgb(110, 63, 51);
  color: rgb(201, 195, 195);
}

@media only screen and (max-width:768px) {
  .chart-screen{
    width: 100%;
  }
}
