.itemScreen {
  background-color: rgb(238, 175, 175);
  height: 390px;
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border-radius: 10px;
}
.itemScreen img {
  width: 50%;
  height: 50%;
  margin-bottom: 10px;
  border-radius: 10px;
}
.button-counter {
  margin: 13px 5px;
  padding: 5px 25px;
  background-color: brown;
  border: none;
  border-radius: 3.5px;
  color: aliceblue;
}
.button-counter:hover {
  background-color: rgb(124, 30, 30);
  color: rgb(175, 181, 187);
}
.button-addItem{
  border: none;
  border-radius: 3px;
  background-color: rgb(73, 66, 180);
  padding: 5px 10px;
  color: white;
}
.button-addItem{
    background-color: rgb(60, 54, 141);
}
.itemScreen .number_items {
  background-color: rgb(255, 255, 255);
  width: 35%;
  margin-top: 12px;
  border-radius: 6px;
}
.button-detalle {
  background-color: rgb(93, 102, 189);
  border: none;
  border-radius: 3.5px;
  padding: 5px 25px;
  margin: 12px;
  color: rgb(255, 255, 255);
}
.button-detalle:hover {
  background-color: rgb(75, 84, 158);
}
