.item_detail {
  background-color: rgb(235, 204, 196);
  padding: 50px;
  border-radius: 13px;
  width: 50%;
  box-shadow: rgb(143, 123, 118) 10px 20px 20px;
}

.item-detail-image {
  width: 50%;
  height: 50%;
}
.item-detail-backButton button {
  border: none;
  background-color: rgb(168, 53, 24);
  width: 10%;
  height: 4%;
  margin-top: -5px;
  border-radius: 3.5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.item-detail-backButton button:hover {
  background-color: rgb(126, 40, 18);
}
