nav {
  background-color: rgb(145, 31, 39);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  overflow: hidden;
  margin: 0;
}

nav .brand {
  padding: 10px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

nav .brand img {
  width: 85px;
  border-radius: 50%;
  overflow: hidden;
  height: 85px;
}

.brand-link {
  text-decoration: none;
}

.brand-link span {
  font-size: large;
  font-weight: bold;
  margin-left: 10px;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
}
nav ul img {
  height: 60px;
  border-radius: 30px;
  overflow: hidden;
}
nav ul img:hover {
  padding: 2px;
  border: solid rgb(248, 245, 245) 3px;
  margin: -5px;
}
.nav-link {
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.nav-link:hover {
  color: rgb(219, 182, 182);
}

.nav-button-chart {
  border: none;
  background: none;
}
.nav-item-counter {
  background-color: rgb(228, 228, 125);
  border: solid black;
  border-radius: 10%;
  position: relative;
  margin-top: -15px;
  width: 20px;
}
.nav-item-list {
  border-radius: 3px;
  box-shadow: rgb(226, 194, 194) 10px 10px 20px;
  background-color: rgb(226, 194, 194);
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  right: 0px;
  height: 300px;
  width: 25%;
  padding: 0px;
  margin: 0;
  overflow-y: scroll;
  margin-right: 10px;
}
.nav-item-list li {
  border-bottom: solid black 0.8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 5px 10px;
  margin: 0px;
}
.nav-item-list-buttonBuy {
  margin: 0;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: rgb(160, 76, 76);
  color: white;
}
.nav-item-list-buttonBuy:hover {
  background-color: rgb(131, 40, 40);
  color: rgb(187, 184, 184);
}
.nav-item-list-buttonBuy:hover {
  background-color: rgb(131, 40, 40);
  color: rgb(187, 184, 184);
}
.nav-item-list-deleteItem {
  border: none;
  border-radius: 3px;
  background-color: brown;
  color: white;
  padding: 5px 15px;
}

@media (max-width: 540px) {
  .brand-link span {
    background-color: aliceblue;
    display: none;
  }
  nav {
    justify-content: space-around;
  }
  .nav-link {
    display: none;
  }
}
